body {
	margin: 0rem;
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, p {
	margin: 0rem;
}

header {
	padding: 1rem;
	border-bottom: solid 2px black;
	display: flex;
	flex-direction: row;
	align-items: center;
}

main {
	padding: 1rem;
}

#left-header {
	margin-left: auto;
}

#complaint {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
